option_settings:
  aws:elb:listener:
    ListenerEnabled: false
  aws:elb:listener:8082:
    InstancePort: 8088
    ListenerProtocol: SSL
    SSLCertificateId: arn:aws:acm:us-east-2:211616433238:certificate/f434b446-175f-44c0-8c18-a33e9ad8d502
  aws:elb:listener:8080:
    InstancePort: 8081
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-east-2:211616433238:certificate/f434b446-175f-44c0-8c18-a33e9ad8d502
  aws:elb:loadbalancer:
    SecurityGroups: sg-09220a00d984cdc91
  aws:autoscaling:launchconfiguration:
    SecurityGroups: pogo-web-backend-ec2