option_settings:
  aws:elbv2:listener:80:
    DefaultProcess: regular
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:regular:
    HealthCheckPath: /healthcheck
    Port: '8080'
    Protocol: HTTP
  aws:elbv2:listener:8082:
    DefaultProcess: socket
    ListenerEnabled: 'true'
    Protocol: TCP
    SSLCertificateArns: arn:aws:acm:us-east-2:211616433238:certificate/f434b446-175f-44c0-8c18-a33e9ad8d502
  aws:elbv2:listener:8080:
    ListenerEnabled: 'true'
    Protocol: HTTP
    SSLCertificateArns: arn:aws:acm:us-east-2:211616433238:certificate/f434b446-175f-44c0-8c18-a33e9ad8d502
  aws:elasticbeanstalk:environment:process:socket:
    HealthCheckPath: /healthcheck
    Port: '8082'
    Protocol: HTTP
  aws:elb:loadbalancer:
    SecurityGroups: sg-09220a00d984cdc91
  aws:autoscaling:launchconfiguration:
    SecurityGroups: pogo-web-backend-ec2