option_settings:
  aws:elbv2:listener:80:
    DefaultProcess: regular
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:regular:
    HealthCheckPath: /health
    Port: '8080'
    Protocol: HTTP
  aws:elbv2:listener:8082:
    DefaultProcess: socket
    ListenerEnabled: 'true'
  aws:elasticbeanstalk:environment:process:socket:
    HealthCheckPath: /healthcheck
    Port: '8082'
    Protocol: HTTP